@page
@model IndexModel
@{
    ViewData["Title"] = "Hola, Mundo!";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Esta es mi primera aplicación web en ASP.Net</p>
</div>
